.formulario{
    border: 4px solid white;
    text-align: center;
    margin-bottom: 7%;
    background-color: grey;
    border-radius: 3px;
    background-image: linear-gradient(to left, #B1B1BB 0%, #D8D7DC 50%, #B1B1BB 100%);
}

form{
  width: 80%;
  margin: 0 auto;
  display: block;

}

form input {
  border: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  width: 100%;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
}

form input[type="radio"]{
  width: auto;
}

form input[type="checkbox"]{
  width: auto;
}

form button[type="submit"], form button[name="new_cat"], #personalizado{
  background: #1B3F79;
  border: 0;
  width: 40%;
  height: 50px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  font-size: 120%;
  margin-top: 7.5%;
  margin-bottom: 10%;
  text-align: center;
}

form button[type="submit"]:hover, form button[name="new_cat"]:hover, #personalizado:hover{
  background-image: linear-gradient(to right, #1B3F79 0%, #168740 100%);
}

/*############################################################################################*/
@media screen and (max-width : 991px){
  .corpo{
    padding-top: 2%;
  }

  #ajuste_logo{
    margin: auto;
    float: none;
    width: 50%;
    padding-bottom: 0%;
  }
  #ajuste_menu{
    padding-bottom: 5%;
    width: 95%;
  }
  .corpo .img-responsive {
    margin: 0 auto;
  }
  .radial{
    position: static;
  }
  .botoes{
    position: static;
    display: block;
    margin: auto;
    right: auto;
    padding-bottom: 5%;
    max-width: 100%;
  }
    .menu_login{
        margin-top: 5%;
    }

    #ajuste_logo_unb {
      width: 10%;
    }
}
