<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listagem</title>
</head>
<body>
    <h1>Transacoes que estao no db</h1>
    <ul>
        {% for transacao in transacoes%}
        <li>{{ transacao.descricao }} - {{transacao.data }} - {{ transacao.valor}}</li>
        {% endfor %}
    </ul>
    <button onclick="location.href = '{% url 'url_nova' %}' ">Novo</button>
</body>
</html>