{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/index.css" />
    <script src="/static/js/index.js"></script>
</head>
<body>
    <h1 align="center"> Toma esse site iradimal </h1>
        <p> 
        Lorem ipsum aenean congue primis litora eros gravida ullamcorper vulputate himenaeos pulvinar, mollis nisi quisque tempus
        est tellus platea posuere velit. dictum magna accumsan elementum himenaeos sagittis sit convallis, vehicula nisl ut urna
        dui tincidunt pellentesque phasellus, orci dictumst fusce accumsan lorem tellus. hac turpis semper commodo conubia ligula
        auctor venenatis sem diam, et cursus pretium rhoncus cubilia purus ipsum egestas scelerisque, dolor taciti sagittis nam hendrerit
        odio placerat consectetur. id iaculis commodo tellus tincidunt tellus commodo ut donec scelerisque, lacinia sagittis eros
        conubia condimentum mattis orci imperdiet lacinia, velit ante eget pharetra feugiat sed justo magna.
        </p>
</body>
</html>